{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "support@cloudquery.io",
      "name": "CloudQuery Support Team",
      "url": "https://cloudquery.io"
    },
    "description": "Welcome to the CloudQuery Platform API documentation! This API can be used to interact with the CloudQuery platform. As a user, the API allows you to search the CloudQuery asset inventory, run SQL queries against the data warehouse, save and load searches, and much more. As an administrator, it allows you to manage your teams, syncs, and other objects.\n### Authentication\nThe API is secured using bearer tokens. To get started, you can generate an API key for your Platform deployment from your platform dashboard. For a step-by-step guide, see: https://www.cloudquery.io/docs/cli/managing-cloudquery/deployments/generate-api-key.\nThe base URL for the API depends on where your CloudQuery Platform is hosted. If running locally, this is usually http://localhost:3000/api. In a production deployment it should be an HTTPS URL. For purposes of illustration, we will assume the platform instance is available at https://cloudquery.mycompany.com. In this case, the base API endpoint will be https://cloudquery.mycompany.com/api.\n### Example Request\nTo test your connection to the API, we can use the `/plugins` endpoint. For example:\n`curl -v -H \"Authorization: Bearer $CLOUDQUERY_API_KEY\" \\ https://cloudquery.mycompany.com/api/plugins`\n",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://www.cloudquery.io/terms",
    "title": "CloudQuery Platform OpenAPI Spec",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://example-instance-xyz.mycloudquery.com",
      "description": "Example CloudQuery Platform production instance (Adjust URL to your instance as needed)",
      "x-internal": true
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "alerts"
    },
    {
      "name": "analytics"
    },
    {
      "name": "apps"
    },
    {
      "name": "audit-logs"
    },
    {
      "name": "chat"
    },
    {
      "name": "custom-columns"
    },
    {
      "name": "filters"
    },
    {
      "name": "healthcheck"
    },
    {
      "name": "notifications"
    },
    {
      "name": "plugins"
    },
    {
      "name": "policies"
    },
    {
      "name": "queries"
    },
    {
      "name": "insights"
    },
    {
      "name": "reports"
    },
    {
      "name": "syncs"
    },
    {
      "name": "tables"
    },
    {
      "name": "teams"
    },
    {
      "name": "users"
    },
    {
      "name": "onboardings"
    },
    {
      "name": "rbac"
    },
    {
      "name": "billing"
    },
    {
      "name": "external-syncs"
    }
  ],
  "paths": {
    "/billing/plan": {
      "get": {
        "summary": "Get tenant plan",
        "description": "Get the calling tenant's current plan, billing state, usage, and entitlements.",
        "operationId": "GetTenantPlan",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantPlan"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "billing"
        ]
      }
    },
    "/billing/payments": {
      "get": {
        "summary": "List billing payments",
        "description": "List recent payment records for the calling tenant, most recent first.",
        "operationId": "ListBillingPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentRecord"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "billing"
        ]
      }
    },
    "/billing/stripe/checkout": {
      "post": {
        "summary": "Create a Stripe Checkout Session",
        "description": "Creates a Stripe-hosted Checkout Session for the requested plan tier, bound to the calling user's Stripe customer (created on first use), and returns the Checkout URL to redirect the browser to. The customer is created only on this explicit purchase action, never on merely viewing billing.",
        "operationId": "CreateBillingCheckout",
        "x-internal": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StripeCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCheckoutSession"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "tags": [
          "billing"
        ]
      }
    },
    "/billing/stripe/portal": {
      "post": {
        "summary": "Create a Stripe Billing Portal session",
        "description": "Creates a Stripe Billing Portal session for the tenant's subscription customer and returns the URL to redirect the browser to. Lets any admin manage or cancel the tenant's subscription without re-identifying. Returns 404 when the tenant has no subscription to manage.",
        "operationId": "CreateBillingPortal",
        "x-internal": true,
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripePortalSession"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "tags": [
          "billing"
        ]
      }
    },
    "/": {
      "get": {
        "description": "Index endpoint, returns 200",
        "operationId": "Index",
        "responses": {
          "200": {
            "description": "Response",
            "headers": {
              "Link": {
                "description": "RFC 8631 compliant link relation information",
                "schema": {
                  "type": "string",
                  "example": "<https://platform-api-docs.cloudquery.io>; rel=\"service-doc\""
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "additionalProperties": false,
                      "description": "Basic Error",
                      "required": [
                        "message",
                        "status"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer"
                        }
                      },
                      "title": "Basic Error",
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errors": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "field_errors": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      }
    },
    "/audit-logs": {
      "get": {
        "description": "List audit log events with pagination and filtering",
        "operationId": "ListAuditLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_display_name",
            "in": "query",
            "description": "Filter by entity display name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_ip_address",
            "in": "query",
            "description": "Filter by user IP address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter by start time (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter by end time (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search across user name, event type, entity display name, and user IP address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AuditLogEvent"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "audit-logs"
        ]
      }
    },
    "/audit-logs/{id}": {
      "get": {
        "description": "Get a specific audit log event by ID",
        "operationId": "GetAuditLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogEvent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "audit-logs"
        ]
      }
    },
    "/healthcheck": {
      "head": {
        "description": "Health check endpoint, returns 200",
        "operationId": "HealthCheckHead",
        "x-internal": true,
        "responses": {
          "200": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      },
      "get": {
        "description": "Health check endpoint, returns 200",
        "operationId": "HealthCheck",
        "responses": {
          "200": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Get OpenAPI JSON",
        "description": "Returns the OpenAPI definition in JSON format.",
        "operationId": "GetOpenAPIJSON",
        "responses": {
          "200": {
            "description": "OpenAPI specification in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The OpenAPI document for this API in JSON format"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": []
      }
    },
    "/platform-info": {
      "get": {
        "description": "Information about the platform",
        "operationId": "GetPlatformInfo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "public_ips",
                    "version",
                    "tenant_id",
                    "aws_account_id"
                  ],
                  "properties": {
                    "aws_account_id": {
                      "type": "string",
                      "description": "AWS Account ID for the platform",
                      "x-go-name": "AWSAccountID"
                    },
                    "public_ips": {
                      "type": "array",
                      "description": "List of public IPs for the platform",
                      "items": {
                        "type": "string"
                      },
                      "x-go-name": "PublicIPs"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of the platform"
                    },
                    "tenant_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The tenant ID of the current user",
                      "x-go-name": "TenantID"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "platform"
        ]
      }
    },
    "/platform-versions": {
      "get": {
        "description": "List platform versions",
        "operationId": "ListPlatformVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformVersion"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "platform"
        ]
      }
    },
    "/plugins": {
      "get": {
        "description": "List all plugins",
        "operationId": "ListPlugins",
        "parameters": [
          {
            "$ref": "#/components/parameters/plugin_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/plugin_include_release_stages"
          },
          {
            "$ref": "#/components/parameters/plugin_exclude_release_stages"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/ListPlugins"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}": {
      "get": {
        "description": "Get details about a given plugin.",
        "operationId": "GetPlugin",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlugin"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions": {
      "get": {
        "description": "List all versions for a given plugin",
        "operationId": "ListPluginVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/include_drafts"
          },
          {
            "$ref": "#/components/parameters/include_fips"
          },
          {
            "$ref": "#/components/parameters/include_prereleases"
          },
          {
            "$ref": "#/components/parameters/version_filter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginVersionList"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}": {
      "get": {
        "description": "Get details about a given plugin version.",
        "operationId": "GetPluginVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginVersionDetails"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/assets/{target_name}": {
      "get": {
        "description": "Download an asset for a given plugin version and target",
        "operationId": "DownloadPluginAsset",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/target_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginAsset"
                }
              }
            }
          },
          "302": {
            "description": "Response",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables": {
      "get": {
        "description": "List tables for a given plugin version. This only applies to source plugins.",
        "operationId": "ListPluginVersionTables",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginTable"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables/{table_name}": {
      "get": {
        "description": "Get schema for a given table and plugin version. This only applies to source plugins.",
        "operationId": "GetPluginVersionTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "in": "path",
            "name": "table_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginTableDetails"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/alerts": {
      "get": {
        "description": "List all alerts",
        "operationId": "ListAllAlerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/alert_states"
          },
          {
            "$ref": "#/components/parameters/enabled"
          },
          {
            "$ref": "#/components/parameters/query_tags"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AlertDetail"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/alerts/test": {
      "post": {
        "description": "Test an unsaved alert",
        "operationId": "TestUnsavedAlert",
        "parameters": [
          {
            "in": "query",
            "name": "query_id",
            "required": false,
            "description": "ID of the query to fill in the alert",
            "schema": {
              "$ref": "#/components/schemas/QueryID"
            },
            "x-go-name": "QueryID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Notification results for the test alert",
                      "items": {
                        "$ref": "#/components/schemas/AlertTestResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/policies": {
      "get": {
        "description": "List all policies for a team",
        "operationId": "ListPolicies",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/policy_status"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search in policy name and description"
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "domain",
                "severity",
                "violation_count",
                "last_run_at",
                "created_at"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sort_dir",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Policy"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "post": {
        "description": "Create a new policy",
        "operationId": "CreatePolicy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}": {
      "get": {
        "description": "Get a policy by ID",
        "operationId": "GetPolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "put": {
        "description": "Update a policy",
        "operationId": "UpdatePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "delete": {
        "description": "Delete a policy",
        "operationId": "DeletePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}/toggle": {
      "post": {
        "description": "Toggle a policy's status (active/paused)",
        "operationId": "TogglePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}/violations": {
      "get": {
        "description": "Get violations for a policy",
        "operationId": "GetPolicyViolations",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Text search term to filter violations by resource_type_label, name, account_name, cloud, or region",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PolicyViolation"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}/violations-history": {
      "get": {
        "description": "Get violation history for a policy",
        "operationId": "GetPolicyViolationsHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "in": "query",
            "name": "start_time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "end_time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PolicyEvaluationLog"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/metrics": {
      "get": {
        "description": "Get policy metrics summary",
        "operationId": "GetPolicyMetrics",
        "parameters": [
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/violations-by-domain": {
      "get": {
        "description": "Get violations grouped by domain",
        "operationId": "GetViolationsByDomain",
        "parameters": [
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolationsByDomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/violations-history": {
      "get": {
        "description": "Get violations history over time",
        "operationId": "GetViolationsHistory",
        "parameters": [
          {
            "in": "query",
            "name": "start_date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the query range (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "end_date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the query range (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolationsHistory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policy-groups": {
      "get": {
        "description": "List all policy groups",
        "operationId": "ListPolicyGroups",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search in policy group name and description"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter to policy groups that contain at least one policy with any of these severities"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyGroupWithCounts"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "post": {
        "description": "Create a new policy group",
        "operationId": "CreatePolicyGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyGroupCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policy-groups/{policy_group_id}": {
      "get": {
        "description": "List policies in a policy group",
        "operationId": "ListPoliciesInGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_group_id"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "policy_count"
              ],
              "default": "name"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sort_dir",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Policy"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "put": {
        "description": "Update a policy group",
        "operationId": "UpdatePolicyGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_group_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyGroupUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "delete": {
        "description": "Delete a policy group",
        "operationId": "DeletePolicyGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_group_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/apikeys": {
      "get": {
        "description": "List all API Keys",
        "operationId": "ListAPIKeys",
        "tags": [
          "api-keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata",
                    "allowed_roles"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/APIKey"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    },
                    "allowed_roles": {
                      "description": "List of allowed roles when creating a new API key",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "description": "Create new API Key.",
        "operationId": "CreateAPIKey",
        "tags": [
          "api-keys"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expires_at",
                  "name"
                ],
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/APIKeyName"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RoleID"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apikeys/{apikey_id}": {
      "delete": {
        "description": "Delete API Key. This will remove any future access by this API Key.",
        "operationId": "DeleteAPIKey",
        "tags": [
          "api-keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/apikey_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apps": {
      "get": {
        "description": "List apps for the caller's tenant, with the resource count per app. The response appends one synthetic entry (`is_unallocated_resources: true`) representing resources not currently in any app.",
        "operationId": "ListApps",
        "tags": [
          "apps"
        ],
        "responses": {
          "200": {
            "description": "Apps for the tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apps/{app_id}": {
      "patch": {
        "description": "Update an app's user-editable fields. Partial: only fields supplied in the request body are modified; omitted fields are left unchanged. An empty body is a valid no-op.",
        "operationId": "UpdateApp",
        "tags": [
          "apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/app_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated app.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apps/upsert-by-name": {
      "post": {
        "description": "Idempotently upsert a list of apps by name within the caller's tenant. For each name, returns its existing app id (if the name already exists) or a freshly-generated one (if newly created). Duplicate names in the request are deduplicated server-side. Intended primarily for service-to-service use from accessory writers that materialize app memberships.",
        "operationId": "UpsertAppsByName",
        "tags": [
          "apps"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "names"
                ],
                "properties": {
                  "names": {
                    "type": "array",
                    "description": "List of app names to upsert. Each name must be non-empty.",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Apps upserted; existing rows returned alongside any newly created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "apps"
                  ],
                  "properties": {
                    "apps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "name",
                          "id"
                        ],
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apps/membership-policy": {
      "get": {
        "description": "Return the app-identification policy for the caller's tenant. When no policy has been set, an empty default is returned (`{rules: []}`): an unset tenant identifies nothing until a policy is configured.",
        "operationId": "GetAppMembershipPolicy",
        "tags": [
          "apps"
        ],
        "responses": {
          "200": {
            "description": "The tenant's membership policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMembershipPolicy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "description": "Replace the app-identification policy for the caller's tenant. Validation: each rule's `kind` must come from the catalog; a `tag` rule's `tag_keys` may be empty but must not contain blank keys; an `account_name_pattern` rule's `regex` must be a valid regular expression containing a named capture group `app`. An empty `rules` list is valid and clears memberships. The change is materialized in the background; poll `GET /apps/membership-policy/recompute-status` for progress.",
        "operationId": "PutAppMembershipPolicy",
        "tags": [
          "apps"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppMembershipPolicy"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated membership policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMembershipPolicy"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apps/membership-policy/recompute-status": {
      "get": {
        "description": "Return the status of the background app-membership recompute for the caller's tenant. Poll this after PUT /apps/membership-policy to know when the new rules have been materialized: `idle` is reported only once the tenant's latest policy is fully applied.",
        "operationId": "GetAppMembershipRecomputeStatus",
        "tags": [
          "apps"
        ],
        "responses": {
          "200": {
            "description": "The recompute status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMembershipRecomputeStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apps/membership-policies/catalog": {
      "get": {
        "description": "List the app-identification rule kinds available to the caller, each with a default rule to clone. Drives the \"Add rule\" picker in the UI.",
        "operationId": "GetAppMembershipPoliciesCatalog",
        "tags": [
          "apps"
        ],
        "responses": {
          "200": {
            "description": "Available app-identification rule kinds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppMembershipPolicyCatalog"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/agent-chat": {
      "post": {
        "operationId": "AgentChat",
        "summary": "Send a message to the AI agent orchestrator",
        "description": "Sends a user message to the multi-agent orchestrator for processing. The orchestrator plans and executes actions across domain-specific agents (exploration, summary, remediation, policy, integration) and returns a summarized response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChatResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/agent-chat/session": {
      "post": {
        "operationId": "CreateAgentChatSession",
        "summary": "Pre-create an agent chat session before the first message",
        "description": "Mints a session_id and provisions the per-agent ephemeral API keys the orchestrator needs. Returns the session_id immediately, before any LLM work runs.\nThe frontend uses this to hold a session_id ahead of its first POST /agent-chat call so that, if that call exceeds the HTTP timeout on the caller, it can fall back to polling GET /agent-chat/{session_id} to recover the response. Sessions created here that are never used are harmless; the row in agent_sessions exists only to satisfy the FK from agent_conversations when the first turn is eventually written.",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Orchestration mode to fix on the new session (0 = default AI assistant, 1 = query writer). Sticky: subsequent POST /agent-chat calls on this session use this mode. Defaults to 0 when omitted.",
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChatSessionCreated"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/agent-chat/sessions": {
      "get": {
        "operationId": "ListAgentChatSessions",
        "summary": "List the authenticated user's agent chat sessions",
        "description": "Returns up to 50 of the authenticated user's agent chat sessions, ordered by most-recent activity first. Each entry carries the session_id, an optional title derived from the first user message, the creation timestamp, and updated_at (the timestamp of the session's most recent turn, falling back to created_at for a session with no turns yet). Only sessions started by the calling user are returned; other users in the same tenant are not visible. When the optional `q` parameter is supplied, results are further restricted to sessions whose title matches it as a case-insensitive substring.",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "description": "Orchestration mode to filter by (0 = default AI assistant, 1 = query writer). Only sessions created with this mode are returned. Defaults to 0 when omitted.",
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Optional case-insensitive substring matched against session titles. When set, only sessions whose title contains it are returned. LIKE wildcards (% and _) are matched literally, not as wildcards.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChatSessionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/agent-chat/{session_id}": {
      "get": {
        "operationId": "GetAgentChatSession",
        "summary": "Get the persisted history of an agent conversation session",
        "description": "Returns the conversation turns persisted on the backend for the given session_id, in ascending order. Used by the frontend to recover the response when the original POST /agent-chat call was cancelled (e.g. an HTTP timeout) before the agent service finished producing its answer. The agent service keeps running in the background and persists the turn even after the original caller disconnects, so a subsequent GET surfaces that result. Unknown session ids return 200 with an empty `turns` list rather than 404, so callers can poll uniformly while the response is still in flight. A 404 response is returned only when the AI assistant feature is disabled for the tenant (matching POST /agent-chat); it never indicates an unknown session.",
        "parameters": [
          {
            "in": "path",
            "name": "session_id",
            "required": true,
            "description": "The conversation session identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentChatSessionHistory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/agent/custom-contexts": {
      "get": {
        "description": "List custom contexts for the current tenant",
        "operationId": "ListAgentCustomContexts",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentCustomContext"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      },
      "post": {
        "description": "Create a new custom context for the agent",
        "operationId": "CreateAgentCustomContext",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCustomContextCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCustomContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/agent/custom-contexts/{agent_custom_context_id}": {
      "get": {
        "description": "Get a custom context by ID",
        "operationId": "GetAgentCustomContext",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_custom_context_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCustomContext"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      },
      "put": {
        "description": "Update a custom context",
        "operationId": "UpdateAgentCustomContext",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_custom_context_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCustomContextUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCustomContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      },
      "delete": {
        "description": "Delete a custom context",
        "operationId": "DeleteAgentCustomContext",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_custom_context_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/agent/custom-contexts/{agent_custom_context_id}/toggle-auto-include": {
      "patch": {
        "description": "Toggle a custom context's auto_include flag",
        "operationId": "ToggleAgentCustomContextAutoInclude",
        "parameters": [
          {
            "$ref": "#/components/parameters/agent_custom_context_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCustomContext"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/custom-columns": {
      "get": {
        "description": "List all custom columns",
        "operationId": "ListAllCustomColumns",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/custom_columns_sort_bys"
          },
          {
            "$ref": "#/components/parameters/custom_columns_sort_dirs"
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter columns by name, label, or description."
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/CustomColumn"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      },
      "post": {
        "description": "Save a custom column",
        "operationId": "SaveCustomColumn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomColumnCreateOrUpdate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomColumn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      }
    },
    "/custom-columns/{custom_column_id}": {
      "get": {
        "description": "Get a custom column",
        "operationId": "GetCustomColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/custom_column_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomColumn"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      },
      "patch": {
        "description": "Update a custom column",
        "operationId": "UpdateCustomColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/custom_column_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomColumnCreateOrUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomColumn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      },
      "delete": {
        "description": "Delete a custom column",
        "operationId": "DeleteCustomColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/custom_column_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      }
    },
    "/external-syncs": {
      "post": {
        "description": "Open a new external sync. The server assigns and returns a sync ID that the client includes on subsequent presign requests. This endpoint is idempotent per `(tenant, invocation_id)`: calling it again with the same invocation_id returns the existing sync.",
        "operationId": "CreateExternalSync",
        "tags": [
          "external-syncs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "invocation_id",
                  "sources"
                ],
                "properties": {
                  "invocation_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Client-supplied identifier for this CLI invocation. Typically a UUID generated by the CloudQuery CLI. Used as an idempotency key.",
                    "example": "4c3ea5cd-7f3d-4dfd-8ea8-c0b29eadac69"
                  },
                  "sources": {
                    "type": "array",
                    "minItems": 1,
                    "description": "The source plugins this sync will upload, reported by the CloudQuery CLI. Required: a sync must declare its sources so the platform can reject (422) sources whose version the asset view can't process before any data is uploaded.",
                    "items": {
                      "type": "object",
                      "required": [
                        "name",
                        "path",
                        "version"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Configured source name (`_cq_source_name`); used only to identify the source in error messages.",
                          "example": "aws"
                        },
                        "path": {
                          "type": "string",
                          "description": "Source plugin path the asset view keys support by.",
                          "example": "cloudquery/aws"
                        },
                        "version": {
                          "type": "string",
                          "description": "Source plugin version (semver, `v`-prefixed).",
                          "example": "v32.3.1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalSync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/external-syncs/whoami": {
      "get": {
        "description": "Return the identity of the caller. Used by the CloudQuery Platform destination plugin to validate an API key at startup.",
[...]
