{
  "openapi" : "3.1.0",
  "info" : {
    "contact" : {
      "email" : "support@cloudquery.io",
      "name" : "CloudQuery Support Team",
      "url" : "https://cloudquery.io"
    },
    "description" : "Welcome to the CloudQuery Platform API documentation! This API can be used to interact with the CloudQuery platform. As a user, the API allows you to search the CloudQuery asset inventory, run SQL queries against the data warehouse, save and load searches, and much more. As an administrator, it allows you to manage your teams, syncs, and other objects.\n### Authentication\nThe API is secured using bearer tokens. To get started, you can generate an API key for your Platform deployment from your platform dashboard. For a step-by-step guide, see: https://docs.cloudquery.io/docs/deployment/generate-api-key.\nThe base URL for the API depends on where your CloudQuery Platform is hosted. If running locally, this is usually http://localhost:3000/api. In a production deployment it should be an HTTPS URL. For purposes of illustration, we will assume the platform instance is available at https://cloudquery.mycompany.com. In this case, the base API endpoint will be https://cloudquery.mycompany.com/api.\n### Example Request\nTo test your connection to the API, we can use the `/plugins` endpoint. For example:\n`curl -v -H \"Authorization: Bearer $CLOUDQUERY_API_KEY\" \\ https://cloudquery.mycompany.com/api/plugins`\n",
    "license" : {
      "name" : "MIT",
      "url" : "https://spdx.org/licenses/MIT"
    },
    "termsOfService" : "https://www.cloudquery.io/terms",
    "title" : "CloudQuery Platform OpenAPI Spec",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "description" : "Example CloudQuery Platform production instance (Adjust URL to your instance as needed)",
    "url" : "https://example-instance-xyz.mycloudquery.com",
    "x-internal" : true
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  }, {
    "cookieAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "admin"
  }, {
    "name" : "alerts"
  }, {
    "name" : "analytics"
  }, {
    "name" : "audit-logs"
  }, {
    "name" : "custom-columns"
  }, {
    "name" : "filters"
  }, {
    "name" : "healthcheck"
  }, {
    "name" : "images"
  }, {
    "name" : "plugins"
  }, {
    "name" : "policies"
  }, {
    "name" : "queries"
  }, {
    "name" : "registry"
  }, {
    "name" : "reports"
  }, {
    "name" : "syncs"
  }, {
    "name" : "tables"
  }, {
    "name" : "teams"
  }, {
    "name" : "users"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "description" : "Index endpoint, returns 200",
        "operationId" : "Index",
        "responses" : {
          "200" : {
            "description" : "Response",
            "headers" : {
              "Link" : {
                "description" : "RFC 8631 compliant link relation information",
                "explode" : false,
                "schema" : {
                  "example" : "<https://platform-api-docs.cloudquery.io>; rel=\"service-doc\"",
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Index_400_response"
                }
              }
            },
            "description" : "Bad request"
          }
        },
        "security" : [ ],
        "tags" : [ "healthcheck" ]
      }
    },
    "/audit-logs" : {
      "get" : {
        "description" : "List audit log events with pagination and filtering",
        "operationId" : "ListAuditLogs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "description" : "Filter by user ID",
          "explode" : true,
          "in" : "query",
          "name" : "user_id",
          "required" : false,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter by team name",
          "explode" : true,
          "in" : "query",
          "name" : "team_name",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter by event type",
          "explode" : true,
          "in" : "query",
          "name" : "event_type",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter by entity display name",
          "explode" : true,
          "in" : "query",
          "name" : "entity_display_name",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter by user IP address",
          "explode" : true,
          "in" : "query",
          "name" : "user_ip_address",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter by start time (inclusive)",
          "explode" : true,
          "in" : "query",
          "name" : "start_time",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter by end time (inclusive)",
          "explode" : true,
          "in" : "query",
          "name" : "end_time",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search across user name, team name, event type, entity display name, and user IP address",
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAuditLogs_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "audit-logs" ]
      }
    },
    "/audit-logs/{id}" : {
      "get" : {
        "description" : "Get a specific audit log event by ID",
        "operationId" : "GetAuditLog",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuditLogEvent"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "audit-logs" ]
      }
    },
    "/filters" : {
      "get" : {
        "description" : "List Filters",
        "operationId" : "ListFilters",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/filter_tags"
        }, {
          "$ref" : "#/components/parameters/filter_name_filter"
        }, {
          "$ref" : "#/components/parameters/filter_expression_filter"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFilters_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "filters" ]
      }
    },
    "/filters/tags" : {
      "get" : {
        "description" : "List Filter Tags",
        "operationId" : "ListFilterTags",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFilterTags_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "filters" ]
      }
    },
    "/filters/{filter_id}" : {
      "delete" : {
        "description" : "Delete a table filter",
        "operationId" : "DeleteFilter",
        "parameters" : [ {
          "$ref" : "#/components/parameters/filter_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "filters" ]
      },
      "get" : {
        "description" : "Get a table filter by ID",
        "operationId" : "GetFilterByID",
        "parameters" : [ {
          "$ref" : "#/components/parameters/filter_id"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Filter"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "filters" ]
      },
      "patch" : {
        "description" : "Update a table filter",
        "operationId" : "UpdateFilter",
        "parameters" : [ {
          "$ref" : "#/components/parameters/filter_id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FilterUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Filter"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "filters" ]
      }
    },
    "/healthcheck" : {
      "get" : {
        "description" : "Health check endpoint, returns 200",
        "operationId" : "HealthCheck",
        "responses" : {
          "200" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "healthcheck" ]
      },
      "head" : {
        "description" : "Health check endpoint, returns 200",
        "operationId" : "HealthCheckHead",
        "responses" : {
          "200" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "healthcheck" ],
        "x-internal" : true
      }
    },
    "/openapi.json" : {
      "get" : {
        "description" : "Returns the OpenAPI definition in JSON format.",
        "operationId" : "GetOpenAPIJSON",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "description" : "The OpenAPI document for this API in JSON format",
                  "type" : "object"
                }
              }
            },
            "description" : "OpenAPI specification in JSON format"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          }
        },
        "security" : [ ],
        "summary" : "Get OpenAPI JSON"
      }
    },
    "/manage/assetview" : {
      "get" : {
        "description" : "Get assetview status",
        "operationId" : "AssetViewGetStatus",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetViewGetStatus_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      },
      "post" : {
        "description" : "Trigger assetview run",
        "operationId" : "AssetViewTrigger",
        "responses" : {
          "201" : {
            "description" : "Triggered new run"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      }
    },
    "/manage/assetview/logs" : {
      "get" : {
        "description" : "List asset view logs",
        "operationId" : "AssetViewListLogs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/assetview_run_type"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssetViewListLogs_200_response"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      }
    },
    "/manage/auth/saml" : {
      "get" : {
        "description" : "Get SAML integration information",
        "operationId" : "ManageGetSAML",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SAMLConfig"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      },
      "patch" : {
        "description" : "Update SAML integration information",
        "operationId" : "ManageUpdateSAML",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SAMLConfigUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SAMLConfig"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      }
    },
    "/manage/register-platform" : {
      "get" : {
        "description" : "Get platform registry information",
        "operationId" : "ManageGetPlatformRegistry",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageGetPlatformRegistry_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      },
      "post" : {
        "description" : "Register platform usage by API key",
        "operationId" : "ManageRegisterPlatform",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManageRegisterPlatform_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageRegisterPlatform_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "205" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageRegisterPlatform_205_response"
                }
              }
            },
            "description" : "Activation method is no longer valid"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      }
    },
    "/manage/register-platform/offline" : {
      "post" : {
        "description" : "Register platform usage by offline license",
        "operationId" : "ManageRegisterPlatformWithOfflineLicense",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManageRegisterPlatformWithOfflineLicense_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageRegisterPlatformWithOfflineLicense_200_response"
                }
              }
            },
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      }
    },
    "/manage/settings" : {
      "get" : {
        "description" : "Show current platform settings",
        "operationId" : "GetSettings",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlatformSettings"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      },
      "patch" : {
        "description" : "Update platform settings",
        "operationId" : "UpdateSettings",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PlatformSettingsUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PlatformSettings"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "admin" ]
      }
    },
    "/manage/teams" : {
      "get" : {
        "description" : "List all teams",
        "operationId" : "ManageListAllTeams",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageListAllTeams_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams", "admin" ]
      }
    },
    "/manage/teams/{team_name}" : {
      "delete" : {
        "description" : "Delete a team",
        "operationId" : "ManageDeleteTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams", "admin" ]
      },
      "get" : {
        "description" : "Get a team",
        "operationId" : "ManageGetTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams", "admin" ]
      }
    },
    "/manage/teams/{team_name}/members" : {
      "delete" : {
        "description" : "Remove team member",
        "operationId" : "ManageRemoveTeamMember",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManageRemoveTeamMember_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams", "admin" ]
      },
      "get" : {
        "description" : "List team members",
        "operationId" : "ManageListTeamMembers",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageListTeamMembers_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams", "admin" ]
      },
      "put" : {
        "description" : "Add team member",
        "operationId" : "ManageAddTeamMember",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ManageAddTeamMember_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams", "admin" ]
      }
    },
    "/manage/users" : {
      "get" : {
        "description" : "List all users",
        "operationId" : "ListLocalUsers",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListLocalUsers_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users", "admin" ]
      }
    },
    "/manage/users/add" : {
      "post" : {
        "description" : "Add new user",
        "operationId" : "AddLocalUser",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddLocalUser_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalUser"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "405" : {
            "$ref" : "#/components/responses/MethodNotAllowed"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users", "admin" ]
      }
    },
    "/manage/users/{user_id}" : {
      "delete" : {
        "description" : "Delete user",
        "operationId" : "DeleteLocalUser",
        "parameters" : [ {
          "$ref" : "#/components/parameters/user_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users", "admin" ]
      },
      "get" : {
        "description" : "Get user details",
        "operationId" : "GetLocalUser",
        "parameters" : [ {
          "$ref" : "#/components/parameters/user_id"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalUserWithTeams"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users", "admin" ]
      },
      "patch" : {
        "description" : "Update user",
        "operationId" : "UpdateLocalUser",
        "parameters" : [ {
          "$ref" : "#/components/parameters/user_id"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateLocalUser_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocalUser"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users", "admin" ]
      }
    },
    "/manage/users/{user_id}/reset" : {
      "post" : {
        "description" : "Create password reset token for user",
        "operationId" : "CreateLocalUserResetToken",
        "parameters" : [ {
          "$ref" : "#/components/parameters/user_id"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateLocalUserResetToken_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users", "admin" ]
      }
    },
    "/manage/users/{user_id}/totp" : {
      "delete" : {
        "description" : "Disable/Reset MFA for a specific user",
        "operationId" : "ManageUserTOTPDelete",
        "parameters" : [ {
          "$ref" : "#/components/parameters/user_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "405" : {
            "$ref" : "#/components/responses/MethodNotAllowed"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "users" ]
      }
    },
    "/platform-info" : {
      "get" : {
        "description" : "Information about the platform",
        "operationId" : "GetPlatformInfo",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetPlatformInfo_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "platform" ]
      }
    },
    "/platform-versions" : {
      "get" : {
        "description" : "List platform versions",
        "operationId" : "ListPlatformVersions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPlatformVersions_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "platform" ]
      }
    },
    "/plugins" : {
      "get" : {
        "description" : "List all plugins",
        "operationId" : "ListPlugins",
        "parameters" : [ {
          "$ref" : "#/components/parameters/plugin_sort_by"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/plugin_include_release_stages"
        }, {
          "$ref" : "#/components/parameters/plugin_exclude_release_stages"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPlugins_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Create a plugin owned by the specified team. User must be part of that team.",
        "operationId" : "CreatePlugin",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plugin"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}" : {
      "delete" : {
        "description" : "Delete plugin by team and plugin name",
        "operationId" : "DeletePluginByTeamAndPluginName",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "Get details about a given plugin.",
        "operationId" : "GetPlugin",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPlugin"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "patch" : {
        "description" : "Update a plugin",
        "operationId" : "UpdatePlugin",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plugin"
                }
              }
            },
            "description" : "Updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions" : {
      "get" : {
        "description" : "List all versions for a given plugin",
        "operationId" : "ListPluginVersions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_sort_by"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/include_drafts"
        }, {
          "$ref" : "#/components/parameters/include_prereleases"
        }, {
          "$ref" : "#/components/parameters/version_filter"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginVersions_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}" : {
      "get" : {
        "description" : "Get details about a given plugin version.",
        "operationId" : "GetPluginVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersionDetails"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "patch" : {
        "description" : "Update a given plugin version",
        "operationId" : "UpdatePluginVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginVersionUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersion"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Create a new plugin version, or update a draft version",
        "operationId" : "CreatePluginVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersion_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersion"
                }
              }
            },
            "description" : "Success (the plugin version was updated)"
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersion"
                }
              }
            },
            "description" : "Success (the plugin version was created)"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/assets/{target_name}" : {
      "get" : {
        "description" : "Download an asset for a given plugin version and target",
        "operationId" : "DownloadPluginAsset",
        "parameters" : [ {
          "explode" : false,
          "in" : "header",
          "name" : "Accept",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/target_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginAsset"
                }
              }
            },
            "description" : "Response"
          },
          "302" : {
            "description" : "Response",
            "headers" : {
              "Location" : {
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Get a URL to upload an asset for a given plugin version and target",
        "operationId" : "UploadPluginAsset",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/target_name"
        } ],
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReleaseURL"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/docs" : {
      "delete" : {
        "description" : "Delete one or more plugin version docs pages.",
        "operationId" : "DeletePluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeletePluginVersionDocs_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "List all documentation pages for a given plugin version",
        "operationId" : "ListPluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginVersionDocs_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Replace (override) multiple plugin version docs pages",
        "operationId" : "ReplacePluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersionDocs_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatePluginVersionDocs_201_response"
                }
              }
            },
            "description" : "Successfully created or updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Create or update one or more plugin version docs pages",
        "operationId" : "CreatePluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersionDocs_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatePluginVersionDocs_201_response"
                }
              }
            },
            "description" : "Successfully created or updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables" : {
      "delete" : {
        "description" : "Delete one or more plugin version tables.",
        "operationId" : "DeletePluginVersionTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeletePluginVersionTables_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "List tables for a given plugin version. This only applies to source plugins.",
        "operationId" : "ListPluginVersionTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginVersionTables_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Create or update one or more plugin version tables. This only applies to source plugins, and can only be done if the plugin version is in draft.",
        "operationId" : "CreatePluginVersionTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersionTables_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatePluginVersionTables_201_response"
                }
              }
            },
            "description" : "Successfully created or updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables/{table_name}" : {
      "get" : {
        "description" : "Get schema for a given table and plugin version. This only applies to source plugins.",
        "operationId" : "GetPluginVersionTable",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "table_name",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginTableDetails"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/uiassets" : {
      "delete" : {
        "description" : "Remove UI assets for a given plugin version",
        "operationId" : "RemovePluginUIAssets",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Get URLs to upload UI assets for a given plugin version",
        "operationId" : "UploadPluginUIAssets",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadPluginUIAssets_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadPluginUIAssets_201_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "409" : {
            "$ref" : "#/components/responses/Conflict"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Finalize UI asset upload",
        "operationId" : "FinalizePluginUIAssetUpload",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinalizePluginUIAssetUpload_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/tables" : {
      "get" : {
        "description" : "List Tables",
        "operationId" : "ListTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTables_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/{table_name}/data" : {
      "get" : {
        "description" : "List Table Rows",
        "operationId" : "TableListRows",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "$ref" : "#/components/parameters/table_selects"
        }, {
          "$ref" : "#/components/parameters/table_filter_mode"
        }, {
          "$ref" : "#/components/parameters/table_filters"
        }, {
          "$ref" : "#/components/parameters/table_filter_ids"
        }, {
          "$ref" : "#/components/parameters/table_sort_bys"
        }, {
          "$ref" : "#/components/parameters/table_sort_dirs"
        }, {
          "$ref" : "#/components/parameters/table_group_bys"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableListRows_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/{table_name}/data/{table_row_id}" : {
      "get" : {
        "description" : "Get Table row",
        "operationId" : "TableRowById",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "$ref" : "#/components/parameters/table_row_id"
        }, {
          "$ref" : "#/components/parameters/table_filter_mode"
        }, {
          "$ref" : "#/components/parameters/table_filters"
        }, {
          "$ref" : "#/components/parameters/table_filter_ids"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableRowById_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/{table_name}/schema" : {
      "get" : {
        "description" : "Get Table Schema",
        "operationId" : "TableSchema",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableSchema_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/schemas" : {
      "get" : {
        "description" : "Get Table Schemas",
        "operationId" : "BatchTableSchemas",
        "parameters" : [ {
          "description" : "A list of table names to retrieve schemas for",
          "explode" : true,
          "in" : "query",
          "name" : "tables",
          "required" : true,
          "schema" : {
            "example" : [ "aws_ec2_instances", "aws_s3_buckets" ],
            "items" : {
              "minLength" : 1,
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchTableSchemas_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/{table_name}/columns" : {
      "get" : {
        "description" : "Get Table Columns",
        "operationId" : "TableListColumns",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "$ref" : "#/components/parameters/table_filter_mode"
        }, {
          "$ref" : "#/components/parameters/table_column_name_filter"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableListColumns_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/{table_name}/columns/{column_name}/values" : {
      "get" : {
        "description" : "Get Table Column Values",
        "operationId" : "TableColumnListValues",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "$ref" : "#/components/parameters/column_name"
        }, {
          "$ref" : "#/components/parameters/table_filter_mode"
        }, {
          "$ref" : "#/components/parameters/table_column_value_filter"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableColumnListValues_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/tables/{table_name}/filters" : {
      "get" : {
        "description" : "List Table Filters",
        "operationId" : "TableListFilters",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/filter_tags"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFilters_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables", "filters" ]
      },
      "post" : {
        "description" : "Save Table Filter",
        "operationId" : "TableSaveFilter",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FilterCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Filter"
                }
              }
            },
            "description" : "Filter already exists"
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Filter"
                }
              }
            },
            "description" : "Filter created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables", "filters" ]
      }
    },
    "/tables/{table_name}/filters/tags" : {
      "get" : {
        "description" : "List Filter Tags For A Table",
        "operationId" : "TableListFilterTags",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFilterTags_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "queries", "filters" ]
      }
    },
    "/tables/{table_name}/relations" : {
      "get" : {
        "description" : "List Table Relations",
        "operationId" : "TableListRelations",
        "parameters" : [ {
          "$ref" : "#/components/parameters/table_name"
        }, {
          "description" : "Filter by related table name",
          "explode" : true,
          "in" : "query",
          "name" : "relation_name",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TableListRelations_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "tables" ]
      }
    },
    "/teams" : {
      "get" : {
        "description" : "List all teams",
        "operationId" : "ListTeams",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ManageListAllTeams_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "post" : {
        "description" : "Create a team owned by the current user.",
        "operationId" : "CreateTeam",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTeam_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}" : {
      "delete" : {
        "description" : "Delete team",
        "operationId" : "DeleteTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ],
        "x-internal" : true
      },
      "get" : {
        "description" : "Get a team by name",
        "operationId" : "GetTeamByName",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "patch" : {
        "description" : "Update team attributes",
        "operationId" : "UpdateTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateTeam_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/alerts" : {
      "get" : {
        "description" : "List all alerts",
        "operationId" : "ListAllAlerts",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/alert_states"
        }, {
          "$ref" : "#/components/parameters/enabled"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAllAlerts_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "alerts" ]
      }
    },
    "/teams/{team_name}/alerts/test" : {
      "post" : {
        "description" : "Test an unsaved alert",
        "operationId" : "TestUnsavedAlert",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "description" : "ID of the query to fill in the alert",
          "explode" : true,
          "in" : "query",
          "name" : "query_id",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/QueryID"
          },
          "style" : "form",
          "x-go-name" : "QueryID"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AlertCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TestUnsavedAlert_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "alerts" ]
      }
    },
    "/teams/{team_name}/apikeys" : {
      "get" : {
        "description" : "List all team API Keys",
        "operationId" : "ListTeamAPIKeys",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeamAPIKeys_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "post" : {
        "description" : "Create new team API Key.",
        "operationId" : "CreateTeamAPIKey",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTeamAPIKey_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIKey"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/apikeys/{apikey_id}" : {
      "delete" : {
        "description" : "Delete API Key. This will remove any future access by this API Key.",
        "operationId" : "DeleteTeamAPIKey",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/apikey_id"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
[...]
