{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "support@cloudquery.io",
      "name": "CloudQuery Support Team",
      "url": "https://cloudquery.io"
    },
    "description": "Welcome to the CloudQuery Platform API documentation! This API can be used to interact with the CloudQuery platform. As a user, the API allows you to search the CloudQuery asset inventory, run SQL queries against the data warehouse, save and load searches, and much more. As an administrator, it allows you to manage your teams, syncs, and other objects.\n### Authentication\nThe API is secured using bearer tokens. To get started, you can generate an API key for your Platform deployment from your platform dashboard. For a step-by-step guide, see: https://docs.cloudquery.io/docs/deployment/generate-api-key.\nThe base URL for the API depends on where your CloudQuery Platform is hosted. If running locally, this is usually http://localhost:3000/api. In a production deployment it should be an HTTPS URL. For purposes of illustration, we will assume the platform instance is available at https://cloudquery.mycompany.com. In this case, the base API endpoint will be https://cloudquery.mycompany.com/api.\n### Example Request\nTo test your connection to the API, we can use the `/plugins` endpoint. For example:\n`curl -v -H \"Authorization: Bearer $CLOUDQUERY_API_KEY\" \\ https://cloudquery.mycompany.com/api/plugins`\n",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://www.cloudquery.io/terms",
    "title": "CloudQuery Platform OpenAPI Spec",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://example-instance-xyz.mycloudquery.com",
      "description": "Example CloudQuery Platform production instance (Adjust URL to your instance as needed)",
      "x-internal": true
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    }
  ],
  "tags": [
    {
      "name": "admin"
    },
    {
      "name": "alerts"
    },
    {
      "name": "analytics"
    },
    {
      "name": "audit-logs"
    },
    {
      "name": "chat"
    },
    {
      "name": "custom-columns"
    },
    {
      "name": "filters"
    },
    {
      "name": "healthcheck"
    },
    {
      "name": "images"
    },
    {
      "name": "notifications"
    },
    {
      "name": "plugins"
    },
    {
      "name": "policies"
    },
    {
      "name": "queries"
    },
    {
      "name": "reports"
    },
    {
      "name": "syncs"
    },
    {
      "name": "tables"
    },
    {
      "name": "teams"
    },
    {
      "name": "users"
    },
    {
      "name": "rbac"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Index endpoint, returns 200",
        "operationId": "Index",
        "responses": {
          "200": {
            "description": "Response",
            "headers": {
              "Link": {
                "description": "RFC 8631 compliant link relation information",
                "schema": {
                  "type": "string",
                  "example": "<https://platform-api-docs.cloudquery.io>; rel=\"service-doc\""
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "additionalProperties": false,
                      "description": "Basic Error",
                      "required": [
                        "message",
                        "status"
                      ],
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "status": {
                          "type": "integer"
                        }
                      },
                      "title": "Basic Error",
                      "type": "object"
                    },
                    {
                      "properties": {
                        "errors": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "field_errors": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      }
    },
    "/audit-logs": {
      "get": {
        "description": "List audit log events with pagination and filtering",
        "operationId": "ListAuditLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entity_display_name",
            "in": "query",
            "description": "Filter by entity display name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_ip_address",
            "in": "query",
            "description": "Filter by user IP address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Filter by start time (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Filter by end time (inclusive)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search across user name, event type, entity display name, and user IP address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AuditLogEvent"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "audit-logs"
        ]
      }
    },
    "/audit-logs/{id}": {
      "get": {
        "description": "Get a specific audit log event by ID",
        "operationId": "GetAuditLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogEvent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "audit-logs"
        ]
      }
    },
    "/healthcheck": {
      "head": {
        "description": "Health check endpoint, returns 200",
        "operationId": "HealthCheckHead",
        "x-internal": true,
        "responses": {
          "200": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      },
      "get": {
        "description": "Health check endpoint, returns 200",
        "operationId": "HealthCheck",
        "responses": {
          "200": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Get OpenAPI JSON",
        "description": "Returns the OpenAPI definition in JSON format.",
        "operationId": "GetOpenAPIJSON",
        "responses": {
          "200": {
            "description": "OpenAPI specification in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The OpenAPI document for this API in JSON format"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": []
      }
    },
    "/platform-info": {
      "get": {
        "description": "Information about the platform",
        "operationId": "GetPlatformInfo",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "version"
                  ],
                  "properties": {
                    "public_ips": {
                      "type": "array",
                      "description": "List of public IPs for the platform",
                      "items": {
                        "type": "string"
                      },
                      "x-go-name": "PublicIPs"
                    },
                    "version": {
                      "type": "string",
                      "description": "Version of the platform"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "platform"
        ]
      }
    },
    "/platform-versions": {
      "get": {
        "description": "List platform versions",
        "operationId": "ListPlatformVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformVersion"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "platform"
        ]
      }
    },
    "/plugins": {
      "get": {
        "description": "List all plugins",
        "operationId": "ListPlugins",
        "parameters": [
          {
            "$ref": "#/components/parameters/plugin_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/plugin_include_release_stages"
          },
          {
            "$ref": "#/components/parameters/plugin_exclude_release_stages"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "$ref": "#/components/schemas/ListPlugins"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}": {
      "get": {
        "description": "Get details about a given plugin.",
        "operationId": "GetPlugin",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlugin"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions": {
      "get": {
        "description": "List all versions for a given plugin",
        "operationId": "ListPluginVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/include_drafts"
          },
          {
            "$ref": "#/components/parameters/include_fips"
          },
          {
            "$ref": "#/components/parameters/include_prereleases"
          },
          {
            "$ref": "#/components/parameters/version_filter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginVersionList"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}": {
      "get": {
        "description": "Get details about a given plugin version.",
        "operationId": "GetPluginVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginVersionDetails"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/assets/{target_name}": {
      "get": {
        "description": "Download an asset for a given plugin version and target",
        "operationId": "DownloadPluginAsset",
        "parameters": [
          {
            "in": "header",
            "name": "Accept",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/target_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginAsset"
                }
              }
            }
          },
          "302": {
            "description": "Response",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables": {
      "get": {
        "description": "List tables for a given plugin version. This only applies to source plugins.",
        "operationId": "ListPluginVersionTables",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginTable"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables/{table_name}": {
      "get": {
        "description": "Get schema for a given table and plugin version. This only applies to source plugins.",
        "operationId": "GetPluginVersionTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "in": "path",
            "name": "table_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginTableDetails"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/alerts": {
      "get": {
        "description": "List all alerts",
        "operationId": "ListAllAlerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/alert_states"
          },
          {
            "$ref": "#/components/parameters/enabled"
          },
          {
            "$ref": "#/components/parameters/query_tags"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AlertDetail"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/alerts/test": {
      "post": {
        "description": "Test an unsaved alert",
        "operationId": "TestUnsavedAlert",
        "parameters": [
          {
            "in": "query",
            "name": "query_id",
            "required": false,
            "description": "ID of the query to fill in the alert",
            "schema": {
              "$ref": "#/components/schemas/QueryID"
            },
            "x-go-name": "QueryID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "results"
                  ],
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Notification results for the test alert",
                      "items": {
                        "$ref": "#/components/schemas/AlertTestResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/policies": {
      "get": {
        "description": "List all policies for a team",
        "operationId": "ListPolicies",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/policy_status"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search in policy name and description"
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "domain",
                "severity",
                "violation_count",
                "last_run_at",
                "created_at"
              ],
              "default": "created_at"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sort_dir",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Policy"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "post": {
        "description": "Create a new policy",
        "operationId": "CreatePolicy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}": {
      "get": {
        "description": "Get a policy by ID",
        "operationId": "GetPolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "put": {
        "description": "Update a policy",
        "operationId": "UpdatePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "delete": {
        "description": "Delete a policy",
        "operationId": "DeletePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}/toggle": {
      "post": {
        "description": "Toggle a policy's status (active/paused)",
        "operationId": "TogglePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}/violations": {
      "get": {
        "description": "Get violations for a policy",
        "operationId": "GetPolicyViolations",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Text search term to filter violations by resource_type_label, name, account_name, cloud, or region",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PolicyViolation"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/{policy_id}/violations-history": {
      "get": {
        "description": "Get violation history for a policy",
        "operationId": "GetPolicyViolationsHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_id"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "in": "query",
            "name": "start_time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "end_time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PolicyEvaluationLog"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/metrics": {
      "get": {
        "description": "Get policy metrics summary",
        "operationId": "GetPolicyMetrics",
        "parameters": [
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyMetrics"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/violations-by-domain": {
      "get": {
        "description": "Get violations grouped by domain",
        "operationId": "GetViolationsByDomain",
        "parameters": [
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolationsByDomain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policies/violations-history": {
      "get": {
        "description": "Get violations history over time",
        "operationId": "GetViolationsHistory",
        "parameters": [
          {
            "in": "query",
            "name": "start_date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for the query range (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "end_date",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for the query range (YYYY-MM-DD)"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "domain",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PolicyDomain"
            },
            "description": "Filter by domain"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViolationsHistory"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policy-groups": {
      "get": {
        "description": "List all policy groups",
        "operationId": "ListPolicyGroups",
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search in policy group name and description"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter to policy groups that contain at least one policy with any of these severities"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PolicyGroupWithCounts"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "post": {
        "description": "Create a new policy group",
        "operationId": "CreatePolicyGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyGroupCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyGroup"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/policy-groups/{policy_group_id}": {
      "get": {
        "description": "List policies in a policy group",
        "operationId": "ListPoliciesInGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_group_id"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "in": "query",
            "name": "sort_by",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "policy_count"
              ],
              "default": "name"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sort_dir",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "description": "Sort direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Policy"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "put": {
        "description": "Update a policy group",
        "operationId": "UpdatePolicyGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_group_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyGroupUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      },
      "delete": {
        "description": "Delete a policy group",
        "operationId": "DeletePolicyGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/policy_group_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "policies"
        ]
      }
    },
    "/apikeys": {
      "get": {
        "description": "List all API Keys",
        "operationId": "ListAPIKeys",
        "tags": [
          "api-keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata",
                    "allowed_roles"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/APIKey"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    },
                    "allowed_roles": {
                      "description": "List of allowed roles when creating a new API key",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Role"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "description": "Create new API Key.",
        "operationId": "CreateAPIKey",
        "tags": [
          "api-keys"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expires_at",
                  "name"
                ],
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/APIKeyName"
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RoleID"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/apikeys/{apikey_id}": {
      "delete": {
        "description": "Delete API Key. This will remove any future access by this API Key.",
        "operationId": "DeleteAPIKey",
        "tags": [
          "api-keys"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/apikey_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "operationId": "CreateConversation",
        "summary": "Start a new chat conversation",
        "description": "Create a new AI chat conversation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/conversations/{conversation_id}": {
      "get": {
        "operationId": "GetConversation",
        "summary": "Retrieve a chat conversation",
        "description": "Get details of an existing AI chat conversation. Useful for polling for updates.",
        "parameters": [
          {
            "$ref": "#/components/parameters/conversation_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      },
      "post": {
        "operationId": "SendMessage",
        "summary": "Add a message to an existing conversation",
        "description": "Send a new message to an existing AI chat conversation",
        "parameters": [
          {
            "$ref": "#/components/parameters/conversation_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSendMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "chat"
        ]
      }
    },
    "/custom-columns": {
      "get": {
        "description": "List all custom columns",
        "operationId": "ListAllCustomColumns",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/custom_columns_sort_bys"
          },
          {
            "$ref": "#/components/parameters/custom_columns_sort_dirs"
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter columns by name, label, or description."
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/CustomColumn"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      },
      "post": {
        "description": "Save a custom column",
        "operationId": "SaveCustomColumn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomColumnCreateOrUpdate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomColumn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      }
    },
    "/custom-columns/{custom_column_id}": {
      "get": {
        "description": "Get a custom column",
        "operationId": "GetCustomColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/custom_column_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomColumn"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      },
      "patch": {
        "description": "Update a custom column",
        "operationId": "UpdateCustomColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/custom_column_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomColumnCreateOrUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomColumn"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      },
      "delete": {
        "description": "Delete a custom column",
        "operationId": "DeleteCustomColumn",
        "parameters": [
          {
            "$ref": "#/components/parameters/custom_column_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "custom-columns"
        ]
      }
    },
    "/filters": {
      "get": {
        "description": "List Filters",
        "operationId": "ListFilters",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/filter_tags"
          },
          {
            "$ref": "#/components/parameters/filter_name_filter"
          },
          {
            "$ref": "#/components/parameters/filter_expression_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Filter"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "filters"
        ]
      }
    },
    "/filters/tags": {
      "get": {
        "description": "List Filter Tags",
        "operationId": "ListFilterTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FilterTag"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "filters"
        ]
      }
    },
    "/filters/{filter_id}": {
      "get": {
        "description": "Get a table filter by ID",
        "operationId": "GetFilterByID",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filter"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "filters"
        ]
      },
      "patch": {
        "description": "Update a table filter",
        "operationId": "UpdateFilter",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Filter"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "filters"
        ]
      },
      "delete": {
        "description": "Delete a table filter",
        "operationId": "DeleteFilter",
        "parameters": [
          {
            "$ref": "#/components/parameters/filter_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "filters"
        ]
      }
    },
    "/notifications": {
      "get": {
        "description": "List all notifications for triggered, enabled, policy-bound alerts",
        "operationId": "ListNotifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "in": "query",
            "name": "severities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicySeverity"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy severities (policy matches any)"
          },
          {
            "in": "query",
            "name": "policy_group_ids",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PolicyGroupID"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Filter by policy groups (policy matches any)"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/NotificationDetail"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "notifications"
        ]
      }
    },
    "/notifications/destinations": {
      "get": {
        "description": "List all notification destinations",
        "operationId": "ListAllNotificationDestinations",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/NotificationDestinationListItem"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      },
      "post": {
        "description": "Create notification destination",
        "operationId": "CreateNotificationDestination",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDestinationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDestination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/notifications/destinations/test": {
      "post": {
        "description": "Test an unsaved notification destination",
        "operationId": "TestUnsavedNotificationDestination",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDestinationData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDestinationTestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/notifications/destination/{notification_destination_id}": {
      "get": {
        "description": "Get notification destination",
        "operationId": "GetNotificationDestination",
        "parameters": [
          {
            "$ref": "#/components/parameters/notification_destination_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDestination"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      },
      "patch": {
        "description": "Update a notification destination",
        "operationId": "UpdateNotificationDestination",
        "parameters": [
          {
            "$ref": "#/components/parameters/notification_destination_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationDestinationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDestination"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      },
      "delete": {
        "description": "Delete a notification destination",
        "operationId": "DeleteNotificationDestination",
        "parameters": [
          {
            "$ref": "#/components/parameters/notification_destination_id"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/notifications/destination/{notification_destination_id}/alerts": {
      "get": {
        "description": "Get notification destination alerts",
        "operationId": "GetNotificationDestinationAlerts",
        "parameters": [
          {
            "$ref": "#/components/parameters/notification_destination_id"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AlertDetail"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/notifications/destination/{notification_destination_id}/test": {
      "post": {
        "description": "Test a notification destination",
        "operationId": "TestNotificationDestination",
        "parameters": [
          {
            "$ref": "#/components/parameters/notification_destination_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationDestinationTestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/slack": {
      "post": {
        "description": "Create Slack connection",
        "operationId": "CreateSlackConnection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackConnectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackConnection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/slack/{id}/channels": {
      "get": {
        "description": "List Slack channels for a connection",
        "operationId": "ListSlackChannels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Slack connection ID"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter channels by name (case-insensitive partial match)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SlackChannel"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "alerts"
        ]
      }
    },
    "/onboardings/aws/oidc": {
      "post": {
        "operationId": "CreateAWSOnboarding",
        "description": "Create an interactive onboarding for AWS",
        "tags": [
          "onboardings"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "single_account"
                ],
                "properties": {
                  "single_account": {
                    "type": "boolean",
                    "description": "Specifies the type of onboarding to create: either a single account onboarding or an organization onboarding\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAWSCreateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/onboardings/aws/oidc/{onboarding_id}": {
      "get": {
        "operationId": "GetAWSOnboarding",
        "description": "Query an interactive onboarding for AWS",
        "parameters": [
          {
            "$ref": "#/components/parameters/onboarding_id"
          }
        ],
        "tags": [
          "onboardings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAWS"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/onboardings/aws/oidc/{onboarding_id}/notify": {
      "post": {
        "operationId": "NotifyOnboarding",
        "description": "Update onboarding state",
        "tags": [
          "onboardings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/onboarding_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardingAWSNotification"
              }
            }
          }
        },
        "responses": {
          "202": {},
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/onboardings/aws/oidc/{onboarding_id}/accounts": {
      "get": {
        "operationId": "GetAWSAccountsInRoot",
        "description": "Query AWS accounts under organization root",
        "parameters": [
          {
            "$ref": "#/components/parameters/onboarding_id"
          }
        ],
        "tags": [
          "onboardings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAWSAccounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/onboardings/aws/oidc/{onboarding_id}/accounts/{aws_orgunit_id}": {
      "get": {
        "operationId": "GetAWSAccountsInParent",
        "description": "Query AWS accounts under a specifc Organizational Unit",
        "parameters": [
          {
            "$ref": "#/components/parameters/onboarding_id"
          },
          {
            "$ref": "#/components/parameters/aws_orgunit_id"
          }
        ],
        "tags": [
          "onboardings"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingAWSAccounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/onboardings/aws/oidc/{onboarding_id}/accounts/provision": {
      "post": {
        "operationId": "ProvisionOnboardingConfiguration",
        "description": "Provision onboarding configuration into the cloud account",
        "tags": [
          "onboardings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/onboarding_id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
